{% extends 'layout.html' %}

{% block page_title %}{% endblock %}

{% block body %}

<h1>{{ quiz_view.title }}</h1>
<form method="POST" action="" class="form-inline">
    {% csrf_token %}
    {{ quiz_form.as_p }}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="뭔가 넣어 보세요" />
    </div>
    <p>
        <button type="submit" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-tint"></span>
            퀴즈 시작!
        </button
    </p>
</form>

{% endblock %}
